<span style="background-color: transparent;color:#272c33; border: 1px solid #272c33;" class="badge">Demande en
    cours</span>
<span style="background-color: orange;color:#272c33; margin-left:1em;margin-right:1em" class="badge">Accepter par le
    manager</span>
<span style="background-color: #272c33;color:#fff" class="badge">Accepter par l'administrateur</span>
<span style="background-color: #f85758;color:#fff;margin-left:1em;margin-right:1em" class="badge">Refuser</span>
<span style="background-color: #babcbd;color:#272c33" class="badge">Jour férie</span>
<full-calendar #calendar [options]="calendarOptions"></full-calendar>