<div class="form-group" #form>
    <form #userForm="ngForm">
        <input type="text" class="form-control" id="Nom" required [(ngModel)]="model.nom" name="Nom" placeholder="Nom de l'employé">

        <input type="text" class="form-control" id="nomManagerService" required [(ngModel)]="model.prenom" name="Prenom" placeholder="Nom de l'employé">

        <button type="button" class="btn btn-primary" (click)="onUserSearch(userForm)">Chercher</button>
        &nbsp;
    </form>
</div>

<div class="form-group" #form *ngIf="dataUser">

    <!-- <table mat-table [dataSource]="thingsAsMatTableDataSource$ | async"> -->


    <!-- Position Column -->
    <!-- <ng-container matColumnDef="nom">
            <th mat-header-cell *matHeaderCellDef>Service</th>
            <td mat-cell *matCellDef="let element">{{ element.nom }}</td>
        </ng-container> -->

    <!-- Name Column -->
    <!-- <ng-container matColumnDef="prenomManagerService">
            <th mat-header-cell *matHeaderCellDef>Prénom du manager</th>
            <td mat-cell *matCellDef="let element">{{ element.prenomManagerService }}</td>
        </ng-container> -->

    <!-- Weight Column -->
    <!-- <ng-container matColumnDef="nomManagerService">
            <th mat-header-cell *matHeaderCellDef>Nom du manager</th>
            <td mat-cell *matCellDef="let element">{{ element.nomManagerService }}</td>
        </ng-container> -->

    <!-- <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef> Actions </th>
            <td mat-cell *matCellDef="let row">
                <button class="btn btn-primary" (click)="suppressionService(row)">Supprimer</button>
            </td>
        </ng-container> -->

    <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table> -->
</div>