<h1>Fiche utilisateur</h1>

<br>

<div class="form-group">
    <form #userForm="ngForm">
        <input type="text" class="form-control" id="nom" required [(ngModel)]="model.nom" name="nom" placeholder="Nom de l'employé">

        <input type="text" class="form-control" id="prenom" required [(ngModel)]="model.prenom" name="prenom" placeholder="Prénom de l'employé">

        <button type="button" class="btn btn-primary" (click)="onUserSearch(userForm)">Chercher</button>
        &nbsp;
    </form>
</div>

<table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="nom">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nom}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="prenom">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Prenom </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.prenom}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Email </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.email}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="service">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Service </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.id_service.nom}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="role">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Rôle </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.role}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="conges">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Congés restants </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="nbHeureContrat">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Heures contractuelles </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.nbHeureContractuelle}} </mat-cell>
    </ng-container>



    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
</table>
<br>

<hr>