<table>
<h1><p>Ajout d'utilisateur</p></h1>
<tr>
    <strong><td>Nom :</td></strong>
    <td><input type="text" Nom="NomUtil"></td>
</tr>

<tr>
    <strong><td>Prénom :</td></strong>
    <td><input type="text" Prénom="PrenomUtil"></td>
</tr>


<tr>
    <strong><td>Mail :</td></strong>
    <td><input type="text" Mail="Mail"></td>
</tr>

<tr>
    <strong><td>Civilite :</td></strong>
    <td><INPUT type="radio" name="sex" value="H" checked> Homme 
        <INPUT type="radio" name="sex" value="F"> Femme</td>
</tr>

<tr>
    <strong><td>Status : </td></strong>
    <td><SELECT name="Status">    
        <OPTION> Cadres
        <OPTION> Non Cadres Administratif
        <OPTION> Non Cadres Vie Scolaire
    </SELECT></td>
</tr>

<tr>
    <strong><td>Date De Naissance :</td></strong>
    <td>
    <input type="date" id="start" name="trip-start"
       value=""
       min="1960-01-01" max="2022-12-31"></td>
</tr>

<input type="button" value="Suivant">

</table>