<div>
    <h2>Administrateur</h2>
    <ul>
        <li><a routerLink="ajout-utilisateur"> Ajouter un utilisateur</a></li>
        <li><a routerLink="services"> Organisation des services</a></li>
        <li><a routerLink="synthese-conges"> Synthèse des congés</a></li>
        <li><a routerLink="validation-conges"> Validations des congés </a></li>
        <li><a routerLink="fiche-utilisateur"> Fiche utilisateur</a></li>
        <li><a routerLink="motif-absence"> Motif d'absence </a></li>
        <li><a routerLink="fermeture-institution"> Fermeture de l'institution</a></li>
        <li><a routerLink="visibilite-employes"> Visibilité des employés présents</a></li>
    </ul>

    <h2>Manager</h2>
    <ul>
        <li><a routerLink="visualisation-absences"> Visualisation des absences </a></li>
        <li><a routerLink="validation-conges-manager"> Validation des congés </a></li>
    </ul>

    <h2>Utilisateur</h2>
    <ul>
        <li><a routerLink="demande-conges"> Demande de congés</a></li>
        <li><a routerLink="visualisation"> Visualisation des demandes</a></li>
        <li><a routerLink="convention-collective"> Consultation des conventions collectives</a></li>
    </ul>
</div>
