<button class="btn btn-outline-primary mb-2 me-2" (click)="openModal()">Nouvelle demande</button>

<full-calendar #calendar [options]="calendarOptions"></full-calendar>

<!-- Ajouter légende pour les congés -->
<div class="modal" id="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajout d'un congé</h4>
            </div>
            <form #congesForm="ngForm" (ngSubmit)="onSubmit(congesForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <select ngModel class="form-control" id="motif" required name="motif">
                            <option value="" disabled hidden>---- Choisir un motif ----</option>
                            <option *ngFor="let motif of motifs" [ngValue]="motif['id']">{{motif['nom']}}</option>
                        </select>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label">Début du congé : </label>
                            <input [ngModel]="debut | date:'yyyy-MM-dd'" class="form-control" type="date" id="debut"
                                required name="debut" (change)="changeConditionDebut($event)">
                            <select [ngModel]="choixConditionDebut" class="form-control" id="choixConditionDebut"
                                required name="choixConditionDebut">
                                <option *ngFor="let condition of conditions" [ngValue]="condition['id']">
                                    {{condition['nom']}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label">Fin du congé :</label>
                            <input [ngModel]="fin | date:'yyyy-MM-dd'" class="form-control" type="date" id="fin"
                                required name="fin" (change)="changeConditionFin($event)">
                        </div>

                        <div class="form-group" *ngIf="debut != fin">
                            <select [ngModel]="choixConditionFin" class="form-control" id="choixConditionFin" required
                                name="choixConditionFin">
                                <option *ngFor="let condition of conditions" [ngValue]="condition['id']">
                                    {{condition['nom']}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="commentaire" class="form-label">Commentaire</label>
                        <textarea class="form-control" id="commentaire" rows="3" name="commentaire" 
                            ngModel></textarea>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" [disabled]="congesForm.form.invalid"
                            class="btn btn-primary">Valider</button>
                        <button type="button" class="btn btn-danger" (click)="closePopup(congesForm)">
                            Close
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>