<button class="btn btn-outline-primary mb-2 me-2" (click)="openModal()">Nouvelle demande</button>
<button (click)="reloadCurrentRoute()">refresh</button>

<full-calendar [options]="calendarOptions"></full-calendar>


<!-- commentaire deb_mat fin_mat status-->
<div class="modal" id="modal" tabindex="-1" role="dialog" [ngStyle]="{'display':displayStyle}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Ajout d'un congé</h4>
            </div>
            <form #congesForm="ngForm" (ngSubmit)="onSubmit(congesForm)">
                <div class="modal-body">
                    <div class="form-group">
                        <select ngModel class="form-control" id="motif" required name="motif">
                            <option value="" disabled hidden>---- Choisir un motif ----</option>
                            <option *ngFor="let motif of motifs" [ngValue]="motif">{{motif}}</option>
                        </select>
                    </div>

                    <div class="col">
                        <div class="form-group">
                            <label class="form-label">Début du congé : </label>
                            <input [ngModel]="debut | date:'yyyy-MM-dd'" class="form-control" type="date" id="debut"
                                required name="debut">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="date_deb" value="deb_mat"  [(ngModel)]="date_deb">
                                <label class="form-check-label" for="deb_mat">
                                    Matin
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="date_deb" value="deb_fin" [(ngModel)]="date_deb">
                                <label class="form-check-label" for="deb_fin">
                                    Après-midi
                                </label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="date_deb" value="entiere" checked [(ngModel)]="date_deb">
                                <label class="form-check-label" for="entiere">
                                    Journée entière
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label class="form-label">Fin du congé :</label>
                            <input [ngModel]="fin | date:'yyyy-MM-dd'" class="form-control" type="date" id="fin"
                                required name="fin">
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="date_fin" id="deb_mat" value="deb_mat" [(ngModel)]="date_fin">
                            <label class="form-check-label" for="deb_mat">
                                Matin
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="date_fin" value="fin_mat" [(ngModel)]="date_fin">
                            <label class="form-check-label" for="fin_mat">
                                Après-midi
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="date_fin" value="entiere" checked [(ngModel)]="date_fin">
                            <label class="form-check-label" for="entiere">
                                Journée entière
                            </label>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="commentaire" class="form-label">Commentaire</label>
                        <textarea class="form-control" id="commentaire" rows="3" name="commentaire" required ngModel></textarea>
                      </div>


                    <div class="modal-footer">
                        <button type="submit" [disabled]="congesForm.form.invalid"
                            class="btn btn-primary">Valider</button>
                        <button type="button" class="btn btn-danger" (click)="closePopup(congesForm)">
                            Close
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>