<h1>Validation des congés - Manager</h1>
<br>
<form>
    <div class="form-group ">
        <select ngModel class="form-select" id="motif" required name="motif" (ngModelChange)="onChange($event)">
            <option value="" disabled hidden>---- Choisir un service ----</option>
            <option value="0">All</option>
            <option *ngFor="let service of servicesFilter" [ngValue]="service.id">{{service.nom}}</option>
        </select>
    </div>
</form>
<br>
<br>

<table mat-table [dataSource]="thingsAsMatTableDataSource$ | async">
    <!--- Note that these columns can be defined in any order.
      The actual rendered columns are set as a property on the row definition" -->

    <!-- Position Column -->
    <ng-container matColumnDef="Début de l'absence">
        <th mat-header-cell *matHeaderCellDef>Début de l'absence</th>
        <td mat-cell *matCellDef="let element">{{ element.date_deb }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Fin de l'absence">
        <th mat-header-cell *matHeaderCellDef>Fin de l'absence</th>
        <td mat-cell *matCellDef="let element">{{ element.date_fin }}</td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Demi journée matin">
        <th mat-header-cell *matHeaderCellDef>Demi journée matin</th>
        <td mat-cell *matCellDef="let element">{{ element.deb_mat == true ? "Oui" : "Non"}}</td>
    </ng-container>

    <ng-container matColumnDef="Demi journée soir">
        <th mat-header-cell *matHeaderCellDef>Demi journée soir</th>
        <td mat-cell *matCellDef="let element">{{ element.fin_mat == true ? "Oui" : "Non" }}</td>
    </ng-container>

    <ng-container matColumnDef="Commentaire">
        <th mat-header-cell *matHeaderCellDef>Commentaire</th>
        <td mat-cell *matCellDef="let element">{{ element.commentaire }}</td>
    </ng-container>

    <ng-container matColumnDef="Email demandeur">
        <th mat-header-cell *matHeaderCellDef>Email du demandeur</th>
        <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="Motif de l'absence">
        <th mat-header-cell *matHeaderCellDef>Motif de l'absence</th>
        <td mat-cell *matCellDef="let element">{{ element.id_absence }}</td>
    </ng-container>

    <ng-container matColumnDef="Statut">
        <th mat-header-cell *matHeaderCellDef>Statut</th>
        <td mat-cell *matCellDef="let element">{{ element.manager_ok == false ? "En attente de validation" : "Validée" }}</td>
    </ng-container>

    <ng-container matColumnDef="Décision">
        <th mat-header-cell *matHeaderCellDef>Décision</th>
        <td mat-cell *matCellDef="let row">
            <button class="btn btn-success" (click)="acceptanceConges(row.email)">Accepter</button>
            <button class="btn btn-danger" (click)="refusConges()">Refuser</button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>

<br>
<br>

<full-calendar #calendar [options]="calendarOptions"></full-calendar>